html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: rgb(221, 215, 215);
}

.container {
    margin: 15px 10px;
    padding: 5px;
    background-image: url("/backgroundPhoto.jpg");
}

.header {
    text-align: center;
    font-style: italic;
    color: rgb(241, 138, 120);
    font-weight: bold;
    text-shadow: 5px 5px 5px teal;
}

.form {
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
}

.fieldset {
    border: 1px solid #eee;
    border-radius: 12px;
}

.legend {
    color: teal;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    background: rgb(241, 138, 120);
    border: 1px solid #222;
    border-radius: 15px;
}

.input_text {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    color: #eee;
}

.required {
    color: red;
}

.input {
    width: 100%;
    max-width: 250px;
}

.required_caption {
    font-size: 13.5px;
    color: red;
    margin-left: 5px;
}

.countLabel {
    color: #eee;
}

.button {
    margin: 4px 12px;
    background-color: rgb(241, 138, 120);
    color: teal;
    font-size: 18px;
    padding: 8px;
    border: 1px solid #222;
    border-radius: 10px;
}